{% load account_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<title>{% block head_title %}San Diego Events</title>{% endblock %}</title>
</head>
{% block body %}{% endblock %}

{% block scripts %} {% endblock %}